/*newest info style*/
.newestInfo {
  display: block;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  width: 40%;
  min-width: 350px;
}

#newest_name {
  font-size: 2rem;
  font-weight: 600;
  color: #022930;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#newest_description {
  font-size: 1.3rem;
  color: #012830;
}

/*newest tracks style*/
.newestTracksList {
  display: inline-block;
  justify-content: right;
  width: 100%;
  margin: 0;
  padding: 2rem;
  height: 100%;
}

.newestTrackLabel {
  font-weight: 600;
  padding: 4px;
  border: 2px solid black;
  border-radius: 2rem;
}

.newestTrackName {
  font-weight: 800;
}

.newestTrackArtist {
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.newestTracks {
  width: 100%;
  min-width: 700px;
  height: 70px;
  line-height: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.newestTracks:hover {
  background-color: #005766;
}

.newestTrackBtn {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  border: none;
  background-color: inherit;
}
