/*tops info style*/
.topsInfo {
  display: block;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  width: 40%;
  min-width: 350px;
}

#tops_name {
  font-size: 2rem;
  font-weight: 600;
  color: #022930;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#tops_description {
  font-size: 1.3rem;
  color: #012830;
}

/*tops tracks style*/
.topsTracksList {
  display: inline-block;
  justify-content: right;
  width: 100%;
  margin: 0;
  padding: 2rem;
  height: 100%;
}

.topsTrackLabel {
  font-weight: 600;
  padding: 4px;
  border: 2px solid black;
  border-radius: 2rem;
}

.topsTrackName {
  font-weight: 800;
}

.topsTrackArtist {
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.topsTracks {
  width: 100%;
  min-width: 700px;
  height: 70px;
  line-height: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.topsTracks:hover {
  background-color: #005766;
}

.topsTrackBtn {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  border: none;
  background-color: inherit;
}
