/*Change password button*/
.changePassBtn {
  color: #00cccc;
  background-color: #005766;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem;
  border: none;
}

.changePassBtn:hover {
  background-color: #00cccc;
  color: #005766;
  box-shadow: 0px 8px 15px #005766;
}

/*Change password messages*/
.changePassMsg {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

/*Change password input boxes*/
.changePassInput {
  border-radius: 0.5rem;
}

/*Change password labels*/
.changePassLabel {
  margin-top: 1rem;
}
