/*Style for the submenu in Help page*/
.submenuHelp {
  font-size: 0.8rem;
  line-height: 0.4rem;
}

/*Style for the gifs*/
.HomePageGifs {
  width: 80%;
  height: 70%;
  border: 2px solid #00cccc;
}

/*Styling for the divs about password in Help page*/
.AllPasswordErrors {
  max-width: 1600px;
}

.PasswordErrors {
  margin-bottom: 2rem;
}

.PasswordErrors p {
  height: 5rem;
  overflow-wrap: break-word;
}

/*Different image style that are in Help page*/
.HelpPageImg {
  max-height: 400px;
  height: 40%;
  width: 50%;
  max-width: 500px;;
}

.MusicPlayerImg {
  width: 80%;
  max-width: 1300px;
  height: 70%;
}

.PassErrImg {
  border: 2px solid #00cccc;
  height: 20rem;
  width: 15rem;
}
