.content {
  margin: 0;
  padding: 0;
  height: 100%;
}

.catchPhrase {
  background-image: url("../../images/Home_background.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  text-align: center;
  justify-content: center;
  color: rgb(236, 204, 204);
  text-shadow: 3px 3px #005766;
  margin: 0;
  padding: 15rem 0 15rem 0;
}

.catchPhrase h3,
.catchPhrase h4 {
  font-size: 5vh;
  font-weight: bolder;
}

.musicPlayer {
  padding-top: 1.5rem;
  margin-bottom: 3rem;
  display: none;
}

.playerRow {
  margin: 1rem;
  justify-content: center;
}

.playerRow p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #005766;
  text-shadow: 3px 3px rgb(236, 204, 204);
  font-size: 1.5rem;
}

.musicPlayerBtn {
  color: #00cccc;
  background-color: #005766;
  border-radius: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.3rem;
  border: none;
}

.musicPlayerBtn:hover {
  background-color: #00cccc;
  color: #005766;
  box-shadow: 0px 8px 15px #005766;
}

.information {
  padding: 0.5rem;
  padding-top: 3rem;
}

.information .row {
  margin: 0;
}

.information h4 {
  color: #005766;
  font-weight: bolder;
}

.genres p,
.playlists p,
.collections p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.genres img,
.playlists img,
.collections img {
  margin: 0.5rem;
}

.genres,
.playlists,
.collections {
  word-wrap: normal;
  padding: 0.7rem;
  text-align: center;
}

.listen-to-music {
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #005766;
}

.listen-to-music h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #00cccc;
  text-shadow: 1px 1px rgb(56, 43, 243);
}

.news {
  position: relative;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.news img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
}

.news h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #00cccc;
  text-shadow: 3px 3px #005766;
  font-size: 3rem;
}

.news p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.signup-teaser {
  /* display: none; */
  margin: 2rem;
  text-align: center;
  justify-content: center;
}

.signup-teaser h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #005766;
  text-shadow: 3px 3px rgb(236, 204, 204);
  font-size: 2rem;
}

.signup-teaser p {
  font-size: 1.2rem;
}

.signupLink {
  color: #005766;
  background-color: #00cccc;
  border-radius: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.3rem;
  border: none;
}

.signupLink:hover {
  background-color: #005766;
  color: #00cccc;
  box-shadow: 0px 8px 15px #00cccc;
}

.login-teaser {
  margin: 1.5rem 0 3rem 0;
  text-align: center;
  justify-content: center;
}

.login-teaser p {
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-right: 0.5rem;
}
.login-teaser a {
  margin: 0;
  padding: 0;
}

.loginLink {
  border: none;
  font-size: 0.8rem;
  margin: 0 0.5rem 0.7rem 0.5rem;
}

@media (max-width: 609px) {
  .listen-web-image {
    margin: 0;
    padding: 0;
    width: 245px;
    height: 160px;
  }
}
