.musicPlayerMain {
  width: 100%;
  height: 100%;
}

/*-----MusicPlayer page styling-----*/
.musicPlayerMain a {
  color: black;
}

.musicPlayerMain a:hover {
  color: #00cccc;
}

/*-----MusicPlayer side menu styling-----*/
.musicPlayerSideMenu {
  margin: 0;
  padding: 0;
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #005766;
  overflow-y: auto;
}

.MusicplayerProfileInfo {
  padding: 2rem;
}

.PlaylistList {
  padding-left: 40px;
}

.PlaylistList ul {
  padding: 0;
}

.listOfPlaylists {
  overflow-y: auto;
  margin: 1rem 1rem 2rem 0;
  max-height: 45vh;
}

.PlaylistLabel {
  color: #00cccc;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.CreatePlaylist {
  color: #005766;
  background-color: #00cccc;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem;
  border: none;
}

.CreatePlaylist:hover {
  background-color: #022930;
  color: #00cccc;
  box-shadow: 0px 8px 15px #00cccc;
}

.MusicplayerProfileInfo button {
  margin-top: 1rem;
}

.MusicPlayerLoginLink {
  margin: 0 0 10px 80px;
  color: #005766;
  background-color: #00cccc;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
}

.MusicPlayerLoginLink:hover {
  background-color: #022930;
  color: #00cccc;
  box-shadow: 0px 8px 15px #00cccc;
}

.logoutbutton-musicplayer {
  font-weight: 800;
  color: #022930;
  border: none;
  background: none;
}

.logoutbutton-musicplayer:hover {
  color: #00cccc;
}

/*-----MusicPlayer top navigartion bar styling-----*/
.MusicplayerTopNav {
  margin: 1rem 0 1rem 0;
  padding: 0;
  width: 100%;
  font-size: 1.3rem;
  justify-content: space-around;
  background-color: #00758a;
}

/*-----MusicPlayer audio player styling-----*/
.audioPlayer {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: #00cccc;
}

/*-----MusicPlayer page component(page) styling-----*/
.Browse,
.Genres,
.Moods,
.Search,
.Playlist,
.Artist,
.Genre {
  background: #00758a;
  background: -moz-linear-gradient(
    top,
    #00758a 22%,
    #00adad 100%,
    #7db9e8 100%
  );
  background: -webkit-linear-gradient(
    top,
    #00758a 22%,
    #00adad 100%,
    #7db9e8 100%
  );
  background: linear-gradient(
    to bottom,
    #00758a 22%,
    #00adad 100%,
    #7db9e8 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005766', endColorstr='#7db9e8',GradientType=0 );
  margin: 0;
  padding: 0;
  top: 0;
  width: calc(100vw - 250px);
  height: calc(100vh - 100px);
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;
}

/*-----MusicPlayer search component styling-----*/
.SearchInput {
  margin: 3rem;
  width: 40rem;
  border-radius: 20px;
}

/*-----Custom scrollbar-----*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
