/*mood info style*/
.moodInfo {
  display: inline-block;
  justify-content: left;
  text-align: center;
  margin: 0;
  padding: 2rem;
  width: 40%;
  vertical-align: top;
  min-width: 350px;
}

#mood_name {
  font-size: 2rem;
  font-weight: 600;
  color: #022930;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#mood_description {
  font-size: 1.3rem;
  color: #012830;
}

/*mood tracks style*/
.moodTracksList {
  display: inline-block;
  justify-content: right;
  width: 60%;
  margin: 0;
  padding: 2rem;
  height: 100%;
}

.moodTrackLabel {
  font-weight: 600;
  padding: 4px;
  border: 2px solid black;
  border-radius: 2rem;
}

.moodTrackName {
  font-weight: 800;
}

.moodTrackArtist {
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.moodTracks {
  width: 100%;
  min-width: 700px;
  height: 70px;
  line-height: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.moodTracks:hover {
  background-color: #005766;
}

.moodTrackBtn {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  border: none;
  background-color: inherit;
}
